@{
    ViewBag.Title = "Home Page";
}

<div id="main"></div>
@section Scripts{

    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>

    <script src="~/Scripts/react/dist/Index_bundle.js"></script>
    <script src="~/Scripts/react/dist/test_bundle.js"></script>
    <script src="~/Scripts/react/dist/Customers_bundle.js"></script>


}


<div id="root"></div>
<div id="customers"></div>




